html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: overlay;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* 
use in conjunction with body and __next attributs
ref: https://stackoverflow.com/questions/68362273/remove-smooth-scroll-animation-on-changing-page-in-nextjs-with-link-component
*/
a:link {
  scroll-behavior: auto !important;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.active {
  opacity: 1;
}

#walletButton {
  display: block !important;
}

.MuiDivider-pages {
  margin-bottom: 1.5rem !important;
}

::selection {
  background: #3abab4; /* WebKit/Blink Browsers */
  color: rgb(29, 29, 32);
}
::-moz-selection {
  background: #3abab4; /* Gecko Browsers */
  color: rgb(29, 29, 32);
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(100,100,100,0.3);
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(100,100,100,0.6);
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}